.loadingManager__container {
  /* border: 2px solid red; */
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background-color: var(--clr-dark);
}

.loadingManager {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* border: 2px solid red; */
}

.loadingManager__title {
  font-size: var(--size-3xl);
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.loadingManager__progressBar {
  width: 2px;
  height: 70px;
  border: 1px solid var(--clr-rose);
}

.loadingManager__percentage {
  font-size: var(--size-2xl);
  font-weight: 600;
  letter-spacing: 0.05em;
  transform: scale(1.2, 2);
}
